<h1>Students#new</h1>
<p>Find me in app/views/students/new.html.erb</p>
<hr />
<div class='col-md-offset-2 col-md-6'>
  <%= form_for([@school, @student], class: 'form') do |f| %>

    <div class='row'>
      <div class='col-md-12'>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.hidden_field :school_id, :value => @school.id %>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <%= f.label :teacher_id %>
        <%= f.collection_select :teacher_id, @school.teacher ,:id,:name, include_blank: true %>
      </div>
    </div>
    <div class='row'>
      <%= f.submit %>
    </div>
  <% end %>
</div>
