<h1>Viewing Student Record</h1>
<%= link_to "To Current School", school_url(@student.school.id), class: 'btn btn-default' %>
<hr>
<h2> <%=@student.name%></h2>
<%= link_to "Edit Student", edit_school_student_path(@student.school.id, @student), class: 'btn btn-default' %>
<hr>
<%= link_to "Delete Student Record", school_student_path(@student.school.id, @student), method: :DELETE, data: { confirm: "Confirm Student Deletion?" }, class: 'btn btn-danger' %>
<hr>
Studying under: <%=@student.teacher.name%>
