<h1> Campus Details </h2>
<div class= "col-md-offset-2 col-md-6">
  <%= @school.name%> || <%= link_to "Edit School", edit_school_path(@school), class: 'btn btn-default' %>
  <hr>
  <%= link_to "New Teacher", new_school_teacher_path(@school), class: 'btn btn-default' %>
  <%= link_to "New Student", new_school_student_path(@school), class: 'btn btn-default' %>
  <hr>
  <% unless @school.teacher.first.nil? %>
    <%= link_to "Teachers", school_teachers_path(@school), class: 'btn btn-default' %>: <%=@school.teacher.count%>  |
  <% end %>
  <% unless @school.student.first.nil? %>
    <%= link_to "Students", school_students_path(@school), class: 'btn btn-default' %>:  <%=@school.student.count%>
  <% end %>
</div>
